<div style="text-align:center">
  <div class="row ml-5">
    <div class="col">
        <div class="row">
              <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="colorScheme"
              [results]="forecastDataForChart"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showYAxisLabel]="showYAxisLabel"
              [roundEdges]="roundEdges"
              [yAxisLabel]="yAxisLabel"
              [showDataLabel]="showDataLebel"
              [roundDomains]="roundDomains"
              [yScaleMin]="yScaleMin">
              </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
</div>


